.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px aqua;
}

.note {
    font-size: 15px;
    color: red;
}

.copy_right_footer{
    position:fixed;
    color: rgb(21, 255, 0);
    bottom: 0px;
    width: 100%;
    background-color: aquamarine;
    line-height: 3;
    text-align: center;
}

canvas {
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 50px grey;
}